body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    border-radius: 10px 10px 0 0;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  #data-history tr {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }